<div class="col-md-4" >
            <!-- general form elements disabled -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title" id="addnhom_title">Thêm nhóm sinh hoạt</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <form role="form">
                  <div class="row">
                    <div class="col-sm-12" >
                      <div class="form-group" id="addnhom_ma">
                        <label>Mã nhóm</label>
                        <input type="text" class="form-control" placeholder="Mã nhóm ..." disabled="">
                      </div>
                    </div>
                    <div class="col-sm-12" >
                      <!-- text input -->
                      <div class="form-group" id="addnhom_ma">
                        <label>Tên nhóm</label>
                        <input type="text" class="form-control" placeholder="Nhập tên nhóm ...">
                      </div>
                    </div>
                    
                  </div>
                  
                </form>
              </div>
              <div class="card-footer">
                <button type="submit" class="btn btn-primary">Thêm nhóm</button>
              </div>
              <!-- /.card-body -->
            </div>
        </div>

        <table id="example1" class="table table-bordered table-striped">
                  <thead>
                  <tr>
                    <th>STT</th>
                    <th>Mã nhóm</th>
                    <th>Tên nhóm(s)</th>
                    <th colspan="3">Chức năng</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td>1</td>
                    <td>1
                    </td>
                    <td>Hà Nội</td>
                      <td> <i class="fa fa-edit" style="color:blue; padding-right: 20px"></i></td>
                      <td> <i class="fas fa-trash-alt" style="color:red"></i></td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>2
                    </td>
                    <td>Sài Gòn</td>
                      <td> <i class="fa fa-edit" style="color:blue; padding-right: 20px"></i></td>
                      <td> <i class="fas fa-trash-alt" style="color:red"></i></td>
                  </tr>
                  <tr>
                    <td>3</td>
                    <td>3
                    </td>
                    <td>Đà Nẵng</td>
                      <td> <i class="fa fa-edit" style="color:blue; padding-right: 20px"></i></td>
                      <td> <i class="fas fa-trash-alt" style="color:red"></i></td>
                  </tr>
                  <tr>
                    <td>4</td>
                    <td>4
                    </td>
                    <td>Huế</td>
                      <i class="fa fa-edit" style="color:blue; padding-right: 20px"></i>
                      <i class="fas fa-trash-alt" style="color:red"></i>
                  </tr>
                  <tr>
                    <td>5</td>
                    <td>5
                    </td>
                    <td>Vinh</td>
                      <td> <i class="fa fa-edit" style="color:blue"></i></td>
                      <td> <i class="fas fa-trash-alt" style="color:red"></i></td>
                  </tr>
                  </tbody>
                </table>